@mixin label-button($clickable_color: blue) {

  &.lb-clickable {
    color: $clickable_color;
  }

}

@mixin labelbutton {
  .labelbutton {
    $v-link-font-color: blue !default;
    $labelbutton-clickable-color: $v-link-font-color !default;

    @include label-button($labelbutton-clickable-color);

    &.lb-underline {
      text-decoration: underline;
    }

    &.lb-clickable {

      &.v-disabled {
        opacity: 0.5;
      }

      &.lb-pencil {
        &:after {
          content: "\f040";
          font-family: "FontAwesome";
          padding-left: 0.3em;
          font-size: 80%;
        }
      }

      &.lb-pointer:not(.v-disabled) {
        cursor: pointer;
      }

      &.lb-hover-underline:hover:not(.v-disabled) {
        text-decoration: underline;
      }
    }

    &.lb-preventselect {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}