/* This file is automatically managed and will be overwritten from time to time. */
/* Do not manually edit this file. */

/* Provided by labelbutton-addon-0.1.0.jar */
@import "../../../VAADIN/addons/labelbutton/labelbutton.scss";


/* Import and include this mixin into your project theme to include the addon themes */
@mixin addons {
	@include labelbutton;
}

